
@{
    ViewData["Title"] = "ContactMe";
}

<div style="width:100% ; height : 10vh; display : flex; justify-content:center; align-items:center; background-color:aqua">

    <span style="border:1px solid red">
        This is Contact Me Page
    </span>
</div>

